{% extends 'base.admin2.html.twig' %}

{% block body %}

    <div class="container"  ">
    {{ parent() }}

    <div class="row justify-content-md-center" style="margin-top:51px;" >
        <div class="col-md ">
            <h1 style="    margin-top: -28px;
     text-align: center;
     margin-bottom: 34px;">modifier accessoire </h1>
            {{ form_start(form) }}
            {{form_row(form.nomAccesoire,{'attr':{'placeholder':"Nom de livre .. "}})}}
            {{form_row(form.price,{'attr':{'placeholder':"Description.."}})}}
            {{form_row(form.dateCreation,{'attr':{'placeholder':"Son mots de passe "}})}}
            {{form_row(form.image)}}
            <div class="row justify-content-md-center">
                <button type="submit" class="btn btn-success">
                    Modifier                         </button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
    </div>

{% endblock %}